/* square firefox browser chrome: tabs, toolbars, panels, and menus. */

:root {
  --arrowpanel-border-radius: 0px !important;
  --arrowpanel-menuitem-border-radius: 0px !important;
  --button-border-radius: 0px !important;
  --focus-outline-radius: 0px !important;
  --menuitem-border-radius: 0px !important;
  --tab-border-radius: 0px !important;
  --toolbarbutton-border-radius: 0px !important;
  --urlbar-icon-border-radius: 0px !important;
}

*,
*::before,
*::after {
  border-radius: 0px !important;
}
